@keyframes flash {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.flashing-warning {
    animation: flash is infinite;  /* Fix: Remove 'is' after flash */
    color: red;
}
